<h1> Team : <%= @post[:title] %></h1>
<h2> Position : <%= @post[:position] %></h2>
<p><%= @post[:img_url] %></p>
<p><%= @post[:post_body] %></p>
<form action="<%= @post[:id] %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
<a href="/<%= @post[:id] %>/edit">Edit</a>
